{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": [
      "error",
      {
        "arrays": "never",
        "objects": "never",
        "imports": "never",
        "exports": "never",
        "functions": "ignore"
      }
    ],
    "no-continue": 0,
    "no-restricted-syntax": 0,
    "import/extensions": ["off", "never"],
    "import/no-unresolved": 0,
    "import/no-named-as-default-member": 0
  },
  "env": {
    "node": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack.config.js"
      }
    }
  }
}